nav a.active {
  font-weight: 600 !important;
}

.foods-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.card {
  width: 300px;
  height: 450px;
  border-radius: 6px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.food-img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.food-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #111;
  padding: 8px;
  cursor: pointer;
}

.food-description {
  font-size: 0.9rem;
  font-weight: 500;
  color: #111;
  line-height: 1.25;
  margin: 0;
  padding: 8px;
  cursor: pointer;
}

.food-price {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  line-height: 1.25;
  margin: 0;
  cursor: pointer;
}

.add-to-cart-btn {
  padding: 8px 15px;
  margin: 8px 0px;
  font-size: 0.8rem;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  background-color: #d33;
  color: #fff;
  font-weight: 600;
}

.single-food-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.single-product-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.food-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: start;
  align-items: start;
  padding: 0px 15px;
}

.food-details h2 {
  margin: 0px 0px 10px 0px;
  font-weight: 600;
}

.food-details .food-summary {
  width: 75%;
  line-height: 1.25;
}

.food-details p {
  font-weight: 500;
  font-size: 1rem;
  margin: 0px 0px 8px 0px;
}

.genre {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #d33;
  color: #fff;
  font-size: 0.8rem;
  margin-left: 6px;
  cursor: default;
  letter-spacing: 0.5px;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 10px 100px 0px 100px;
}

.checkout-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding: 25px 100px;
}

.no-data {
  font-weight: 500;
  font-size: 1.2rem;
}

.increment,
.decrement {
  font-size: 1.2rem;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #d33;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-cart-food {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.checkout-cart-img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.checkout-cart-food p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.checkout-wrapper form {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 12px 15px;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3px;
  margin-bottom: 15px;
}

.group label {
  font-size: 1rem;
  font-weight: 400;
}

.group input,
.group select {
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.order-summary-wrapper {
  padding: 10px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.order-summary {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.item-wrapper {
  background-color: #f8f8f8;
  border-radius: 6px;
  margin: 8px 0px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 15px;
  width: 100%;
}

.item-wrapper img {
  height: 100%;
  width: 175px;
  object-fit: cover;
}

.confirm-order-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
